.section-card-prod{
    display: flex;
    justify-content:center;
    align-items:stretch;
    flex-wrap:wrap;
    gap:20px;
    margin: 50px 250px 150px 250px;
    color:#fff;

}

.container-card{
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-basis:calc(25% - 15px);
    min-width: 200px;
    margin-top:20px;
    padding:20px;
    border:solid #f86401ff 1.5px;
    border-radius:25px;
    text-align:center;
    background-color:#33333391;
    gap:10px;

}

.btn-add{

   width: 50%;
   background-color:#f86401ff;
   align-self:center;
   cursor:pointer;
   padding:5px;
   margin-top:auto;
   border-radius:10px;
   border-color:#eeeaea;
   color: white;
        
}

    
@media(max-width: 1440px){


    .section-card-prod{
        flex-direction: row;
    }

    .container-card{
        flex-direction: row;
        min-width: 800px;
        flex-basis: calc(70%, 20px);
    }

    .p-desc{
        min-height: 50px;
    }

   

    .h3-card{
        font-size: medium;
       
    }

    .btn-add{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        width: 15%;
        height: 50px;
        padding: 10px;
    }

}

@media (max-width: 768px) {

    .section-card-prod {
        justify-content: center;
        margin: 50px 50px 50px 50px;
        font-size: 0.5em;
        flex-direction: column;
        margin-bottom: 50px;
    }
    .container-card{
        flex-direction: column;
        min-width: 150px;
        flex-basis: calc(25%, 15px);
    }
    .img-card{
        width: 100%;
       
    }

        .p-desc {
            font-size: 1.6em;
        }
    
        .h3-card {
            font-size: 1.8em;
        }
    
        .h2-prod {
            font-size: 1.5em;
    
        }
    
        .p-price {
            font-size: 1.6em;
    
        }
    
        .btn-add {
            font-size: 1.4em;
            width: 70%;
        }
}
       

