.btn-carrito{
    background-color: #e6b30b;
    border:none;
    cursor:pointer;  
    padding: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
    margin-right: 50px;
    border-radius: 30%;
    z-index: 99999;
    
}

.img-carrito{
    width: 60px;
}

.btn-carrito:hover{
    
    background-color:#ffffffd8;
    border-radius: 30%;
    transition:all 0.3s ease-in;
    
   
}



@media(max-width: 660px){

    .btn-carrito{
        right: -40px
    }
}