.nav{
    position: sticky;
    height: 8vh;
    color:white;

}

.nav a {

    color:white;
    display: flex;
    gap:20px;
 

}





@media(max-width:1024px){
    .nav{
        
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .nav a{
        color:white;
        
      
        

    }
}

@media (max-width: 540px){
  
    .nav{
        margin: 0;
        gap:0
    }
    .nav a {

            width: 100%;
            font-size: 1.6em;
    
        }
}